
body {
	padding-top:80px;
	padding-bottom:80px;
}
a {
	cursor: pointer;
}
.NextButton {

}
.navbar .brand {
	background:transparent url("../img/logo-small2.png") 0 5px no-repeat;
	width:35px;
	height:35px;
	text-indent: -999em;
	overflow: hidden;
	outline:none;
	padding:0 0;
	margin-left:-15px;
}
td label span {
	padding:7px 0 0 5px;
}
#question-type-nav button {
	width:100%;
	text-align: left;
}
body #answer-option-window{
    width: 870px;
    height:550px;
    margin-left: -375px;
}
#step1 {
	margin-top:120px;
}
html body div.container div#step2.row span.span8 div.btn-group  {
	margin-bottom:20px !important;
}
html body .rcpa-group{
	width:100% !important;

}
html body .rcpa-group .btn-rcpa {
 text-align:left;
 padding-left:12px ;
 background:transparent;
 border:1px solid transparent;
 border-radius:0 !important;
 box-shadow: none;
}
html body .rcpa-group .btn-rcpa:hover {
	border:1px solid #e0e0e0;
	border-radius:0 !important;
	background-color:#f0f0f0;
}
.research-key-input {
	width:auto;
}
.rcpa-group button.active {
	background-color:#fff !important;
	color:#333 !important;
	font-weight: 700 !important;
 	box-shadow: none;
 	border:1px solid #555 !important;
 	border-radius:0;
}
.NextButton {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #CC0029;
	*background-color: #CC0029;
	background-image: -moz-linear-gradient(top, #DE1B1B, #CC0029);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DE1B1B), to(#CC0029));
	background-image: -webkit-linear-gradient(top, #DE1B1B, #CC0029);
	background-image: -o-linear-gradient(top, #DE1B1B, #CC0029);
	background-image: linear-gradient(to bottom, #DE1B1B, #CC0029);
	background-repeat: repeat-x;
	border-color: #CC0029;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE1B1B', endColorstr='#CC0029', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.NextButton:hover, .NextButton:active {
	color: #000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #efefef;
	*background-color: #efefef;
	background-image: -moz-linear-gradient(top, #FEFEFE, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#efefef));
	background-image: -webkit-linear-gradient(top, #FEFEFE, #efefef);
	background-image: -o-linear-gradient(top, #FEFEFE, #efefef);
	background-image: linear-gradient(to bottom, #FEFEFE, #efefef);
	background-repeat: repeat-x;
	border-color: #efefef;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#efefef', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#answer-option-window textarea, #answer-option-window .btn-group {
	margin-bottom:25px;
}

.q-choice:hover {
	background-color:#fff;
	cursor: pointer;
}
.rcpa-group h4 {
	font-size:16px;
	padding-right:12px;
	line-height:12px;
	float:left;
}
.question-list {
	cursor: pointer;
}
.navbar .navbar-inner .NextButton, .ActionButton {
	background-image:none;
	background-color:#A1FF00 !important;
	border-radius:8px;
	color:#1d1d1d;
}
tr.lastUpdated td {
	background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.form-horizontal .controls {
    margin-left: 0px;
}

.lead span a.tbs-delete-question {
	color:#9f002d;
	padding:0 6px;
	border-radius:3px;
	background-color:#e3acbb;
	cursor: pointer;
}
.lead span a.tbs-delete-question:hover {
background-color:#9f002d;
border-radius:3px;
color:#fff;
	}

#question-region .wijmo-wijgrid table thead, .widgetQuestion-gridContainer .wijmo-wijgrid table thead {
	display:none;
}
.modal.answerWindow .modal-body {
	padding:0;
}
.modal.answerWindow .modal-body .answerkeys .wijmo-wijgrid table thead {
	display:none;
}
.modal.questionWindow {
	width:700px;
	margin-left:-350px;
}
.modal.topicWindow {
	width:980px;
	margin-left:-480px;
}
.grid-input {
	clear:both;
	width:100%;
}
.answerkey-container {
	margin-bottom:22px;
}
.answerkey-container p {
	margin-bottom: 2px;
	}
.answerkey-container .btn.btn-link.btn-mini {
	color:#333;
	padding: 0 0;
}
.answerkey-container .btn.btn-link.btn-mini:hover {
	color:#f00;
}
.templateContainer {
	z-index:2;
}
.canvasLinksContainer {
	position:absolute;
	width:99px;
	height:1800px;
	z-index:10;
}
#answermapCanvas {
	z-index:10;
}

.pickedAnswerCell, .wijmo-wijgrid .ui-state-highlight.wijgridtd.pickedAnswerCell {
	background-color:#A1FF00;
}

#spreadContainer {
	width:670px;
	height:340px;
}

.spreadjs-container {
	width:670px;
	height:340px;
	margin-bottom:20px;	
	
}
/*
.spreadjs-container table {

	z-index:10 !important;
}
.spreadjs-container table tr td canvas{

	z-index:10 !important;
}
*/
.nav li a {
	cursor: pointer;
}

form {
  margin:0px 0px 0px 0px;
}
.modal {
  border:none;
  border-radius 6px 6px 6px 6px;
}
.modal-header {
  border-radius: 6px 6px 0 0;
  position:relative;
  top:-1px;
}
.icon-merge {
	background-image: url("../img/wijmo-ui-icons_000000_240x112.png");
	background-position: -144px 0;
	width:14px;
	height:14px;
}

.redCell {
	background-color:#F81B05;
	color:#fff;
}

.blueCell {
	background-color:#3EC3F5;
	color:#fff;
}
.greenCell {
	background-color: #2CA322;
	color:#fff;
}
.whiteCell {
	background-color:#fff;
	color:#000;
}
.blackCell {
	background-color:#000;
	color:#fff;
}

.icon-red {
	background-image: url("../bootstrap/img/glyphicons-halflings-red.png");
}
.icon-green {
	background-image: url("../bootstrap/img/glyphicons-halflings-green.png");
}
/*
.icon-red,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}
*/
.bottom-up {top: auto; bottom: 100%; }
.navbar .dropdown-menu.bottom-up:before { border-bottom: 0px solid transparent !important; border-top: 7px solid rgba(0, 0, 0, 0.2); top: auto !important; bottom: -7px; }
.navbar .dropdown-menu.bottom-up:after  { border-bottom: 0px solid transparent !important; border-top: 6px solid white;              top: auto !important; bottom: -6px; }


.wijgridtd.wijdata-type-string.ui-state-highlight div.wijmo-wijgrid-innercell {
	background-image:"../img/selected-background.pnp") repeat-y !important;
}
.icon-richtext {
	background:transparent url("../img/icon-richtext.png") 0 0 no-repeat;
}
 input.input-mini[type="text"] {
   height: 14px;
   font-size: 10px;
   line-height: 14px;

}
.input-append .add-on.add-on-mini, .input-prepend .add-on.add-on-mini{
   height: 14px;
   font-size: 10px;
   line-height: 14px;
    min-width:16px;
}
.input-append  .add-on-mini [class^="icon-"], .input-append .add-on-mini [class*=" icon-"] {
    margin-top: -1px;
}

.table-size-controls  .btn-group + .btn-group {
    margin-left: 0px !important;
}
.table-size-controls {
	
}

.table-size-controls  .btn-group{
   /* padding:0px 2px 3px 3px; */

}
.table-size-controls  .alert {
	    padding: 0px 14px 8px 14px;
	    border: 1px solid transparent;
	    background-color: transparent;
	    color:#020202;
	    text-align: right
}

.table-size-controls  .btn.btn-info {
	background-image:none;
	color: #fff;
	cursor: pointer;
	color: #ffffff;
	background-color: #7f9293;
	border-color: #74898a;
}
#questionGridWindow.modal-body {
	padding:0;
}

.edit-toolbar {
	display:block;
	width:1px;
	height:1px;

}
 .edit-toolbar .btn-group {
	position:relative;
	left:-32px !important;
	top:-5px;
}
.edit-toolbar.solution  .btn-group {
	position:relative;
	left:-12px !important;
	top:-40px;
}
.edit-toolbar button, .edit-toolbar button:hover {
	
    cursor: pointer;
}
.edit-toolbar button, .edit-toolbar button:focus {
	outline:none;
}
.well .edit-toolbar button {
	left:-50px;
	top:15px;
}

.alert-funtime {
	background-image: url("../img/dot_green.jpg");
	color:#222;
	font-weight:700;
}

.research-badge {
	padding:2px 5px 25px;
	line-height: 25px;
}
.topicWindow .modal-header, .answerWindow .modal-header {
	border-bottom: none;
	padding:9px 15px 0;
}
.topicWindow .modal-header .nav, .answerWindow .modal-header .nav {
margin-bottom: 0;
	}
.topicWindow, .topicWindow .modal-footer {
background-image: linear-gradient(to bottom,#444,#222);
background-repeat: repeat-x;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.topicWindow .nav-tabs>.active>a {
background-image: none;
border:1px solid;
background-color: transparent;
border-color: #eee #eee #ddd;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
color: #A1FF00;
}
.topicWindow  .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
background-image: none;
border:1px solid;
background-color: transparent;
border-color: #eee #eee #ddd;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
color: #A1FF00;
}
.topicWindow .nav-tabs>li>a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color:#e0e0e0;
}
.topicWindow .nav-tabs>li>a:hover {
	background-image: none;
	background-color: transparent;
	color:#A1FF00;
	border:1px solid;
	border-color: transparent;
}
.topicWindow .nav-tabs>li>button {
	color:eaeaea;
}

.topicWindow .nav-tabs>li>button:hover {
	color:#A1FF00;
}

.topicWindow .nav-tabs>li>button.close {
	color:#fff;
	opacity:0.8;
}
.topicWindow .nav-tabs>li>button.close:hover {
	color:#A1FF00;
	opacity:1;
}
.quiz-pick-topics-container p {
	margin-left: 20px;
}

.pin { 
	/*-moz-column-break-inside: avoid; 
	-webkit-column-break-inside: avoid; 
	column-break-inside: avoid; */
	display: block; 
	width:422px;
	margin: 0 2px 15px; 
	padding: 0 15px 15px 15px; 

	border: 1px solid transparent; 
	border-radius:13px;
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
	background: #FEFEFE; 
	background-image: linear-gradient(45deg, #FFF, #F9F9F9); */
	float:left;
}

.pin h3 a, .pin h3  {
	color:#fff;
	margin-bottom: 0;
}
.pin h3 a span, .pin h3 span  {
display:inline-block;
width:395px;
}
.pin h3 a, .pin h3 i {
	color:9f9f9f;
	vertical-align:top;
}

.pin h3.lead.small i {
margin-top: 6px;
}
.pin h3.lead.small {
font-size: 18px;
}
.pin h3 a:hover , .pin h3 a:hover {
	color:#A1FF00;
	text-decoration: none;
}
.pin h3 a.active {

	color:#A1FF00;/*#3EC926;/*#C97D3A;*/
}

/*
.pin .btn-group:after, .pin .btn-group:before {
    content: " "; 
    display: table; 
}
*/
.pin .btn-group{
   white-space: normal;
}
.btn-group.dropup .dropdown-menu.btn-inverse li a{
	color:#fff;

}
.btn-group.dropup .dropdown-menu.btn-inverse li a i {
	color:#eaeaea;
}
.btn-group.dropup .dropdown-menu.btn-inverse li a i.fa-times:hover {
	color:#f00;
	cursor: pointer;
}
.btn-group.dropup .dropdown-menu.btn-inverse li a:hover{
	background-color: transparent !important;
	background-image:none;
	color: #fff;
}
.btn-group.dropup .dropdown-menu.btn-inverse li a.add-new:hover{
	background-color: transparent !important;
	background-image:none;
	color: #A1FF00;
	cursor: pointer;
}

.btn-check {
	text-align: left;
	padding-left: 1em;
	overflow:hidden;
	font-size:12px !important;
}
/*
.btn.btn-check.btn-inverse:focus {
	outline:none;
	background-color: #363636;
background-image: -moz-linear-gradient(top,#444,#222);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
background-image: -webkit-linear-gradient(top,#444,#222);
background-image: -o-linear-gradient(top,#444,#222);
background-image: linear-gradient(to bottom,#444,#222);
background-repeat: repeat-x;
}*/

.btn.btn-check.btn-inverse:hover{
color: #5CD1FF;
text-shadow: 1px 1px 7px #74D200;
outline:none;
}
.btn.btn-check.btn-inverse.active {
background-color: transparent !important;
border: 1px solid transparent !important;
box-shadow: none !important;
font-weight: 450;
color: #A1FF00;
}

.btn.btn-inverse.active {
background-color: #303030 !important;
border: 1px solid transparent !important;
box-shadow: none !important;
font-weight: 400;
color: #A1FF00;
}

.modal.topicWindow  .modal-body {
	color:#fff;
}

.search-result-pane .search-result a {
	color:#fff;
	text-decoration: none;
	display: inline-block !important;
	width:894px !important;
	float:right;
}
.search-result-pane .search-result .alert.alert-danger a {
	float:none;
	display:inline;
	color: #843534;
	font-weight: 700;
	
}
.search-result-pane .search-result a qType {
	color:#fff;
	text-decoration: none;
	display: inline-block !important;
	width:894px !important;
	float:right;
	color:#aeaeae;
}

.search-result-pane .search-result a:hover {
	color: #5CD1FF;
	outline:none;
}
.search-result-pane .search-result a:hover .match{

}
.search-result-pane .search-result a span.match {
	color: #5CD1FF;
	text-shadow: 1px 1px 1px #ccc;
}

.search-result-pane .search-result {
	padding-bottom:10px;
	border-bottom:1px solid #555;
	margin-bottom: 10px;
}
.search-result-pane .search-result:last-child {
	padding-bottom:10px;
	border-bottom:none;
	margin-bottom: 0px;
}
.search-result-pane .search-result .qNumber{
	display: inline-block;
	color:#f0f0f0;
	width: 18px;
	font-weight: bold;
	vertical-align: top;
	text-align: right
}

.badge.badge-important a {
	color:#ffa4be;
	cursor:pointer;
	text-decoration: underline;
}

.docsearchWindow {
	width:750px;
	margin-left:-375px;
}
.docsearchWindow .modal-header .lead{
	margin-bottom:0;
}
.docmatch {
	margin-bottom:10px;
}
.docmatch  .snippet{
	position: relative;
	margin: 0px 0;
	padding: 14px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0 0 4px 4px;
}

.docmatch:first-child .btn.btn-inverse.btn-block.btn-check {
	border-radius: 4px 4px 0 0;
}
.docmatch-toolbar {
	color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #eaeaea;
/*
background-image: -moz-linear-gradient(top,#444,#222);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
background-image: -webkit-linear-gradient(top,#444,#222);
background-image: -o-linear-gradient(top,#444,#222);
background-image: linear-gradient(to bottom,#444,#222);
background-repeat: repeat-x;*/
border-color: #222 #222 #000;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

border-radius: 0 0 4px 4px;
}
.docmatch-toolbar .btn.btn-inverse {
	border-radius:0 0 4px 0;
}
.alert-danger .alert-link {
color: #843534;
}
.alert .alert-link {
color: #843534;
font-weight: 700;
}

.duplicates {
	display: none;
}

.duplicates .buttons {
	display: block;
	margin: auto;
	width: 380px;
}
