body {
	padding-bottom: 80px;
}
.navbar-brand.rcpalogo {
	/*height:67px;*/
	width:135px;
	padding:9px;
}
.navbar.main {
	margin-bottom:0;
}

.node circle {
  fill: #eee;
  stroke: #333;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
  cursor: pointer;
}

a {
	cursor:pointer;
}

.node.question:hover text {
	font-weight: 700;
	text-decoration:underline;
}
.node.question rect {
	stroke:#fff;
}
.node.noquestion .rect {
opacity:0;
}
.node.question circle {
	opacity:0;
}
.node.question.question-multiple-choice .rect {
	fill:#428bca;
}
.chord-multiple-choice {
	fill:#428bca;
	opacity:0.3;
}
.node.question.question-tbs-journal .rect {
	fill:#5cb85c;
}
.chord-tbs-journal {
	fill:#5cb85c;
	opacity:0.3;
}
.node.question.question-tbs-research .rect {
	fill:#f0ad4e;
}
.chord-tbs-research {
	fill:#f0ad4e;
	opacity:0.3;
}
.node.question.question-tbs-wc .rect {
	fill:#d9534f;
}
.node.question.badtopic text {
	opacity:0.8;
}
.chord-tbs-wc {
	fill:#d9534f;
	opacity:0.3;
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.btn-dark, .open .dropdown-toggle.btn-dark {
color: #fff;
background-color: #202020;
border-color: #000000;
}

.chapter-label {
	width:330px;
	position:fixed;
	right:15px;
	top:15px;
	z-index: 0;
	display:inline-block;
	text-align:left;
	transform:scale(0.7, 0.7);
}
.chapter-label .page-header h1 {
	font-size:20px;
	line-height: 23px;
	text-indent:-75px;
}
.btn-dark:hover, .btn-dark:focus{
color: #5CD1FF;
background-color: #020202;
border-color: #000000;

}
.btn-dark.active, .btn-dark.active:focus,  .btn-dark.active:hover{
	color: #A1FF00;
	background-color: #444;
}
.btn-group .btn-dark:first-of-type {
	border-radius: 12px 0 0 12px;
}
.btn-group .btn-dark:last-of-type {
	border-radius:  0 12px 12px 0;
}

.panel .btn-group .btn-dark:first-of-type {
	border-radius: 4px 0 0 4px;
}
.panel .btn-group .btn-dark:last-of-type {
	border-radius:  0 4px 4px 0;
}
.panel.panel-dark {
	background-color:#202020;
	border-radius:8px 8px 8px;
}
.panel.panel-sm .panel-heading { 
padding:5px 7px;
text-align:center;
	}
.panel.panel-sm .panel-body { 
padding:2px 8px 7px;
	}
.nav>li>a:hover, .nav>li>a:focus {
color: #5CD1FF;
background-color: #020202;
border-color: #eee;
}
.nav>li>a:hover small, .nav>li>a:focus small{
color:#5CD1FF;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}	
.nav>li>a.active {
color:#A1FF00;
background-color:#444;
}
 .nav>li>a.active small {
	color:#fff;
	margin-top:3px;
}
.nav-pills>li>a {
border-radius: 4px;
color: #fff;
background-color: #202020;
border-color: #000000;
}
.dropdown a small {
	padding-left:8px;
	color:#bfbfbf;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus ,.nav .open>a.active, .nav .open>a.active:hover, .nav .open>a.active:focus{
background-color: #eee;
border-color: #428bca;
color:#000;

}
.nav .open>a.active small, .nav .open>a.active:hover small, .nav .open>a.active:focus small {
	color:#428bca;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.84);
}
.nav .open>a small {
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

#svg-container {
	z-index:1;
	text-align: center;
}

#svg-container:first-child {
z-index:1;
margin:auto;
}

.navbar-inverse.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-inverse.navbar .navbar-collapse {
  text-align: center;
}
.panel-dark .panel-heading {
	color:#999;
	font-size:10px;
}


.panel-dark .panel-body ul li:nth-child(1) .dropdown-menu{
	left:120%;
	top:-20px;

}
.panel-dark .panel-body ul li:nth-child(2) .dropdown-menu{
	left:120%;
	top:-60px;

}
.panel-dark .panel-body ul li:nth-child(3) .dropdown-menu{
	left:120%;
	top:-100px;
}
.panel-dark .panel-body ul li:nth-child(4) .dropdown-menu{
	left:120%;
	top:-140px;
}
.panel-dark .panel-body ul li .dropdown-menu{
	opacity:0.87;
	background-color:#333;
}
.panel-dark .panel-body ul li .dropdown-menu>li {
  padding:0 3px;
}
.panel-dark .panel-body ul li .dropdown-menu>li a {
padding: 3px 3px 5px 5px;
color:#eee;
}
.panel-dark .panel-body ul li .dropdown-menu>li a .label.label-info{
color:#c7c7c7;
background-color:#454545;
	}
.panel-dark .panel-body ul li .dropdown-menu>li>a:hover, .panel-dark .panel-body ul li .dropdown-menu>li>a:focus {
	text-decoration: none;
	color:#5CD1FF;
	background-color: #444;
	border-radius:4px;
}
.panel-dark .panel-body ul li .dropdown-menu>li.active>a, .panel-dark .panel-body ul li .dropdown-menu>li.active>a:focus {
	text-decoration: none;

	border-radius:4px;
	color: #A1FF00;
background-color: #444;
}
.dropdown-menu.double-li {
	columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.label-default {
	color:#A1FF00;
	background-color:#444;
	font-weight: 500;
	border-radius:6px;
}
.label-default i {
	color:#fefefe;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}
#svg-tools {
	position:fixed;
	left:15px;
	top:220px;
}
#svg-details {
	position:fixed;
	right:15px;
	bottom:100px;
	width:330px;
}

#download-tools {
position: fixed;
left: 15px;
top: 292px;
}
#download-tools .panel-body {
	padding-bottom: 4px;
}
#download-tools .btn-group-sm button {
	padding:0 0 0 0;
}