#wrapper {
	margin: 0 25px 0 25px;
}
.rtborder {
	border-right: 1px solid #CCCCCC;
	margin-right: 0px;
	padding-right:0px;
}
a {
    cursor: pointer;
}
.scroller{
    
    overflow-y:scroll; 
}
.btn-mini {
  padding: 2px 6px;
  font-size: @baseFontSize - 2px;
  line-height: @baseLineHeight - 4px;
}
.btmborder{
	border-bottom: solid 1px #CCCCCC;
}

td {
	padding: 15px;
}
